body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info-label {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.control-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.control-button:active {
    background-color: #45a049;
}
#camera {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    position: relative;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}